*{
    font-size: 24px;
    margin: 0;
}
body{
    background-color: #ffd5c2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav main main main";
}

#navbar{
    grid-area: nav;
    position: fixed;
    background-color: #ff8247;
    height: 100vh;
    word-wrap: break-word;
}
#navbar ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
}
#navbar ul li {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0 10px;
}
#navbar a {
    text-decoration: none;
    color: black;
}

#main_doc{
    grid-area: main;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 20px 30px;
}

h2{
    font-size: 40;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}